
mixin subt(h,p)
	.sub
		h2=h
		if p==0
			p Lorem ipsum dolor sit amet consectetur.
		else 
			p=p

mixin enlace(clase,direcc)
	a(class=clase,href=direcc)


mixin iservice(clase,h)
	.item-serv.text-center
		a(class=clase, href="#")
		h2=h
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.

mixin iportfolio(link)
	a.bck-img(href="#")
		.img
			img(src=link)
		
